<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myImageLabel" jhiTranslate="withEntitiesApp.image.home.createOrEditLabel">Create or edit a Image</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!image.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="image.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="withEntitiesApp.image.imageUrl" for="field_imageUrl">Image Url</label>
            <input type="text" class="form-control" name="imageUrl" id="field_imageUrl"
                [(ngModel)]="image.imageUrl" required/>
            <div [hidden]="!(editForm.controls.imageUrl?.dirty && editForm.controls.imageUrl?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.imageUrl?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="withEntitiesApp.image.date" for="field_date">Date</label>
            <div class="d-flex">
                <input id="field_date" type="datetime-local" class="form-control" name="date" [(ngModel)]="image.date"
                />
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="withEntitiesApp.image.meetup" for="field_meetup">Meetup</label>
            <select class="form-control" id="field_meetup" name="meetup" [(ngModel)]="image.meetupId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="meetupOption.id" *ngFor="let meetupOption of meetups; trackBy: trackMeetupById">{{meetupOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
