<div>
    <h2>
        <span jhiTranslate="withEntitiesApp.face.home.title">Faces</span>
        <button class="btn btn-primary float-right jh-create-entity create-face-meeting-faces" [routerLink]="['/', { outlets: { popup: ['face-meeting-faces-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="withEntitiesApp.face.home.createLabel">
            Create new Face
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="faces">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="faceId"><span jhiTranslate="withEntitiesApp.face.faceId">Face Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="top"><span jhiTranslate="withEntitiesApp.face.top">Top</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="left"><span jhiTranslate="withEntitiesApp.face.left">Left</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="width"><span jhiTranslate="withEntitiesApp.face.width">Width</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="height"><span jhiTranslate="withEntitiesApp.face.height">Height</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="gender"><span jhiTranslate="withEntitiesApp.face.gender">Gender</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="age"><span jhiTranslate="withEntitiesApp.face.age">Age</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let face of faces ;trackBy: trackId">
                <td><a [routerLink]="['../face-meeting-faces', face.id ]">{{face.id}}</a></td>
                <td>{{face.faceId}}</td>
                <td>{{face.top}}</td>
                <td>{{face.left}}</td>
                <td>{{face.width}}</td>
                <td>{{face.height}}</td>
                <td jhiTranslate="{{'withEntitiesApp.Gender.' + face.gender}}">{{face.gender}}</td>
                <td>{{face.age}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../face-meeting-faces', face.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'face-meeting-faces/'+ face.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'face-meeting-faces/'+ face.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
