<div>
    <h2>
        <span jhiTranslate="withEntitiesApp.speaker.home.title">Speakers</span>
        <button class="btn btn-primary float-right jh-create-entity create-speaker-meeting-faces" [routerLink]="['/', { outlets: { popup: ['speaker-meeting-faces-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="withEntitiesApp.speaker.home.createLabel">
            Create new Speaker
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="speakers">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="withEntitiesApp.speaker.speakerName">Speaker Name</span></th>
            <th><span jhiTranslate="withEntitiesApp.speaker.email">Email</span></th>
            <th><span jhiTranslate="withEntitiesApp.speaker.meetup">Meetup</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let speaker of speakers ;trackBy: trackId">
                <td><a [routerLink]="['../speaker-meeting-faces', speaker.id ]">{{speaker.id}}</a></td>
                <td>{{speaker.speakerName}}</td>
                <td>{{speaker.email}}</td>
                <td>
                    <span *ngFor="let meetup of speaker.meetups; let last = last">
                            <a class="form-control-static" [routerLink]="['../meetup-meeting-faces', meetup?.id ]">{{meetup.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../speaker-meeting-faces', speaker.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'speaker-meeting-faces/'+ speaker.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'speaker-meeting-faces/'+ speaker.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
